* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #e0e0e0;
	color: #1d1d1d;
}

.menu{
	display: flex;
	position: fixed;
	justify-content: space-between;
	width: 100%;
	top: -36px;
	position: relative;
	background-color: #1d1d1d;
}
.nav-link{
	list-style: none;
}

.nav{
	display: flex;
	justify-content: start;
	gap: 60px;
	padding: 20px 10px;
	top: 0px;
	width: 70%;
	
}

.search{
	display: flex;
	gap: 10px;
	justify-content: center;
	height: 100%;
	width: 30%;
	padding: 10px 10px;
}
.form-control{
	padding: 10px;
	border-radius: 8px;
}
.btn1{
	padding: 10px;
	border-radius: 8px;
	background: #100a1f;
	color: #137c32;
	border: 1px solid #137c32;
	transition: all ease 0.3s;

}
.btn1:hover{
	
	background: #137c32;
	color: #fff;
	border: 1px solid #137c32;

}

.btn2{
	padding: 10px;
	border-radius: 8px;
	background: #137c32;
	color: #fff;
	transition: all ease 0.3s;
	border: none;

}
.btn2:hover{
	
	background: #314537;
	color: #fff;

}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 40px auto 100px auto;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}

.contenedor .pelicula {
	text-align: center;
	transition: 600ms all ease;
	width: auto;
	height: auto;

}

.contenedor .pelicula:hover {

	border-radius: 8px;
	background-color: #b4b4b4;
	transition: 600ms all ease;
}

.contenedor .pelicula .titulo {
	font-size: 16px;
	font-weight: 600;
}

.contenedor .pelicula .poster {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 15px;
}

.paginacion {
	position: fixed;
	bottom: 0;
	background: #100a1f;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
}

.paginacion button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 50px;
	width: 200px;
	background: #241744;
	color: #fff;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
}

.paginacion button:hover {
	background: #137c32;
}


.exp {
	position: absolute;
	left: 50%;
	top: 30%;
	width: 500px;
	height: 600px;
}